<div class="wrapper wrapper-content animated fadeInRight" ng-controller="MemberCtrl as member_ctrl">
    <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12">
                <hr>
            </div>
            <div class="col-sm-12 text-center" style="margin-bottom:10px;">
                <h4>Who should make coffee?</h4>
            </div>
            <div class="col-sm-12">
              <button type="button" class="list-group-item active ">
                  Gil Rebelo
              </button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-12 text-center" style="margin-bottom:10px;">
                <h4>Queue</h4>
            </div>
            <div class="col-sm-12">
              <div class="list-group">
                <span type="button" class="list-group-item" ng-repeat="member in member_ctrl.members">
                    <a class="btn btn-default btn-xs">
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>
                    <span class="badge">14</span>
                    {{ member.name }}
                </span>
              </div>
            </div>
          </div>
    </div>
</div>
