<div class="wrapper wrapper-content animated fadeInRight" ng-controller="QueueCtrl as queue_ctrl">
    <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12">
                <hr>
            </div>
            <div class="col-sm-12 text-center" style="margin-bottom:10px;">
                <h4>Who should make coffee?</h4>
            </div>
            <div class="col-sm-12">
              <button type="button" class="list-group-item active ">
                  {{ queue_ctrl.queue[0].member__name }}
              </button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-12 text-center" style="margin-bottom:10px;">
                <h4>Queue</h4>
            </div>
            <div class="col-sm-12">
              <div class="list-group">
                <span type="button" class="list-group-item" ng-repeat="member in queue_ctrl.queue">
                    <a class="btn btn-default btn-xs" ng-click="queue_ctrl.add_registry(member.member__pk)">
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>
                    <span class="badge">{{ member.total }}</span>
                    {{ member.member__name }}
                </span>
              </div>
            </div>
          </div>
    </div>
</div>
